body {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 0px;
  max-width: none !important;
  background: rgb(206, 203, 190);
  border: 1px solid inherit;
  border-radius: 10px;
}

.container.hide {
  position: absolute;
  top: 0px;
  height: 100%;
}

.entry {
  flex-basis: 30%;
  width: 40%;
  min-width: 25%;
  margin: 24px 0px;
  background: linear-gradient(0deg, lightgrey, lightblue);
  border: 4px solid gray;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.15s;
  box-shadow: gray 4px -4px 10px inset, gray -4px -4px 10px inset;
}

.entry:hover {
  background: linear-gradient(0deg, rgb(252, 249, 249), rgb(188, 233, 248));
}

.entry:active {
  background: linear-gradient(0deg, goldenrod, yellow);
  transform: scale(1.1);
}

.entry span {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}

.entry:active span {
  color: white;
}

.entry img {
  transform: scale(1.5);
  position: relative;
  top: -15%;
  left: 43%;
}

.entry:hover img, .entry.hl img {
  transform: scale(1.85) translate(0px, -16px);
}

h1 {
  text-transform: capitalize;
  font-size: 48px;
}

.art {
  width: 350px;
  filter: drop-shadow(4px 4px 10px black);
}

.art.hide {
  display: none;
}

.hl {
  border: 4px solid goldenrod;
  filter: brightness(1.15);
  transform: scale(1.1);
}

@keyframes bounce {
  0% {
    transform: translate(0px, -14px);
  }
  100% {
    transform: translate(0px, -8px);
  }
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 33%;
}

.icon {
  border-radius: 100%;
  height: 90px;
  width: 90px;
  margin: 24px auto;
  transition: 200ms all;
  cursor: pointer;
  user-select: none;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}

.stats {
  position: absolute;
  top: 0%;
  left: 75%;
  min-width: 500px;
  max-width: 500px;
  background: rgb(227 226 224);
  border: 1px solid inherit;
  border-radius: 20px;
}

.other {
  position: absolute;
  top: 18%;
  left: 0%;
  min-width: 400px;
  max-width: 450px;
  height: 500px;
  font-size: 22px;
  background: rgb(227 226 224);
  border: 1px solid inherit;
  border-radius: 20px;
}

.other span {
  margin: 16px;
  position: relative;
  top: 20%;
  text-align: center;
  line-height: 170%;
}

sub {
  position: relative;
  top: 50px;
  bottom: -.25em;
}

.stats div {
  margin-left: 30px;
  text-align: center;
  font-size: 18px;
}

.bar {
  background: #0C69C8;
  height: 38px;
  color: antiquewhite;
  margin: 10px;
  transition: width 0.35s;
}

.abilities {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 450px;
  max-width: 450px;
  height: 175px;
  font-size: 22px;
  background: rgb(227 226 224);
  border: 1px solid inherit;
  border-radius: 20px;
  text-transform: capitalize;
}

.abilities a {
  position: relative;
  top: 25%;
}

.genus {
  position: relative;
  top: -8px;
  font-size: 16px;
}
