body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden scroll;
  position: relative;
  height: 0px;
  z-index: 3;
  background: rgb(206, 203, 190);
  border-radius: 10px;
  max-width: none !important;
}

.options {
  display: none;
  height: 0px;
  z-index: 3;
  background: rgb(206, 203, 190);
  border-radius: 10px;
  overflow: hidden;
}

.buttonGroup {
  position: absolute;
  top: 0px;
  left: 0px;
}

.textarea {
  font-size: 24px;
}

.options a {
  font-size: 32px;
  transition: 0.15s ease-in-out;
}

.options a:hover {
  transform: translate(0px, 12px);
}

.container.hide {
  position: absolute;
  top: 0px;
  height: 1000px;
  width: 100%;
}

.options.hide {
  position: absolute;
  top: 0px;
  height: 1000px;
  width: 100%;
  display: block;
}

.entry {
  flex-basis: 55%;
  margin: 24px 0px;
  background: lightgray;
  border: 4px solid gray;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.2s ease;
  box-shadow: gray 4px -4px 10px inset, gray -4px -4px 10px inset;
}

.entry:hover {
  background: linear-gradient(0deg, rgb(252, 249, 249), rgb(188, 233, 248));
}

.entry:active {
  background: linear-gradient(0deg, goldenrod, yellow);
}

.entry span {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}

.entry:active span {
  color: white;
}

.entry img.entryImg {
  transform: scale(2);
  position: relative;
  top: -16px;
  left: 46%;
}

.varieties .entry img {
  transform: scale(1.35);
}

h1 {
  text-transform: capitalize;
  font-size: 48px;
}

.art {
  width: 450px;
  position: relative;
  top: 0%;
  left: 0%;
  filter: drop-shadow(black 4px 4px 10px);
}

.art.shiny {
  position: relative;
  top: 0%;
  left: 0%;
}

.art.hide {
  display: none;
}

.hl {
  border: 4px solid goldenrod;
  filter: brightness(1.15);
  transform: scale(1.1);
}

@keyframes bounce {
  0% {
    transform: translate(0px, -14px);
  }

  100% {
    transform: translate(0px, -8px);
  }
}

.abilities {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 20px;
  margin: 48px;
  text-transform: capitalize;
}

.stats {
  position: absolute;
  top: 40%;
  left: 2%;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  margin-left: 50px;
}

.bst {
  margin-bottom: 0px;
}

.abilities h2 {
  font-size: 28px;
}

.stats h2 {
  font-size: 28px;
}

.height,
.weight {
  font-size: 20px;
}

.other span {
  font-size: 24px;
}

.other sub {
  font-size: 14px;
}

.bar {
  height: 28px;
  background: var(--bs-primary);
  color: antiquewhite;
  font-size: 16px;
}

.other {
  position: absolute;
  top: 33%;
  left: 66%;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}

.lore {
  margin: 12px;
  line-height: 220%;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 33%;
}

.icon {
  border-radius: 100%;
  height: 120px;
  width: 120px;
  margin: 24px auto;
  transition: all 200ms ease 0s;
  cursor: pointer;
  user-select: none;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: rgb(146, 188, 44);
  box-shadow: rgb(146, 188, 44) 0px 0px 20px;
}

.dark {
  background: rgb(89, 87, 97);
  box-shadow: rgb(89, 87, 97) 0px 0px 20px;
}

.dragon {
  background: rgb(12, 105, 200);
  box-shadow: rgb(12, 105, 200) 0px 0px 20px;
}

.electric {
  background: rgb(242, 217, 78);
  box-shadow: rgb(242, 217, 78) 0px 0px 20px;
}

.fire {
  background: rgb(251, 165, 76);
  box-shadow: rgb(251, 165, 76) 0px 0px 20px;
}

.fairy {
  background: rgb(238, 144, 230);
  box-shadow: rgb(238, 144, 230) 0px 0px 20px;
}

.fighting {
  background: rgb(211, 66, 95);
  box-shadow: rgb(211, 66, 95) 0px 0px 20px;
}

.flying {
  background: rgb(161, 187, 236);
  box-shadow: rgb(161, 187, 236) 0px 0px 20px;
}

.ghost {
  background: rgb(95, 109, 188);
  box-shadow: rgb(95, 109, 188) 0px 0px 20px;
}

.grass {
  background: rgb(95, 189, 88);
  box-shadow: rgb(95, 189, 88) 0px 0px 20px;
}

.ground {
  background: rgb(218, 124, 77);
  box-shadow: rgb(218, 124, 77) 0px 0px 20px;
}

.ice {
  background: rgb(117, 208, 193);
  box-shadow: rgb(117, 208, 193) 0px 0px 20px;
}

.normal {
  background: rgb(160, 162, 159);
  box-shadow: rgb(160, 162, 159) 0px 0px 20px;
}

.poison {
  background: rgb(183, 99, 207);
  box-shadow: rgb(183, 99, 207) 0px 0px 20px;
}

.psychic {
  background: rgb(250, 133, 129);
  box-shadow: rgb(250, 133, 129) 0px 0px 20px;
}

.rock {
  background: rgb(201, 187, 138);
  box-shadow: rgb(201, 187, 138) 0px 0px 20px;
}

.steel {
  background: rgb(86, 149, 163);
  box-shadow: rgb(86, 149, 163) 0px 0px 20px;
}

.water {
  background: rgb(83, 157, 223);
  box-shadow: rgb(83, 157, 223) 0px 0px 20px;
}

sub {
  position: relative;
  top: 50px;
  bottom: -0.25em;
}

.lore sub {
  font-size: 16px;
}

.biometrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.biometrics div {
  font-size: 24px;
}

.tier {
  filter: drop-shadow(3px 3px 2px gray);
  font-size: 40px;
}

.bar.orange {
  background: orangered;
}

.genus {
  position: relative;
  top: -8px;
  font-size: 16px;
}

.move {
  border: 1px solid gray;
  border-radius: 4px;
  text-transform: capitalize;
  display: flex;
  color: white;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
}

.move h2 {
  font-size: 20px;
}

.move p {
  display: flex;
  justify-content: space-evenly;
  margin: 4px;
}

.move:hover {
  filter: brightness(1.1);
}

.cat {
  width: 50px;
  height: 20px;
  vertical-align: middle;
}

.move .icon {
  width: 40px;
  height: 40px;
  margin: 4px auto;
}

.varieties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.varieties h3 {
  text-transform: capitalize;
}

.varieties img {
  width: 150px;
}

.btn i {
  font-size: 64px;
}

.hidden {
  display: none;
}

.ui-autocomplete {
  overflow: hidden auto;
  max-height: 300px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Lato', sans-serif !important;
}

@media (max-width: 1550px) {
  .art {
    width: 330px;
  }

  .move {
    position: relative;
    left: -1%;
  }

}